{{ 'calculator.css' | asset_url | stylesheet_tag: preload: true}}
{% if product.metafields.custom.length_ != blank
and product.metafields.custom.width_mm != blank
and  product.metafields.custom.weight_ != blank %}
<div class="calculator">
    <div class="calculator-title">
        <p class="h5">Calculator</p>
    </div>
    <div class="calculator-values">

        <div class="value-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="19" viewBox="0 0 24 19" fill="none">
                <path d="M8.17188 7.52486C6.3911 7.52486 4.94238 8.97362 4.94238 10.7554C4.94238 12.5362 6.39115 13.9849 8.17188 13.9849H8.17394C9.95473 13.9849 11.4034 12.5362 11.4034 10.7544C11.4034 8.97362 9.95473 7.52486 8.17188 7.52486ZM8.17394 13.0474H8.17188C6.90809 13.0474 5.87988 12.0192 5.87988 10.7544C5.87988 9.49051 6.90809 8.46236 8.17394 8.46236C9.43774 8.46236 10.4659 9.49056 10.4659 10.7554C10.4659 12.0193 9.43774 13.0474 8.17394 13.0474Z" fill="#272727"/>
                <path d="M23.5312 13.1683H15.9822C16.2184 12.4054 16.3458 11.595 16.346 10.7554C16.346 10.7552 16.346 10.7551 16.346 10.7549V8.36523C16.346 3.85942 12.6796 0.193653 8.17298 0.193653C3.66637 0.193653 0 3.85937 0 8.36518V10.7549V10.7552V10.7563C0 15.2613 3.66511 18.9264 8.17013 18.9264H23.5312C23.7901 18.9264 24 18.7165 24 18.4577V13.637C24 13.3781 23.7901 13.1683 23.5312 13.1683ZM13.6082 15.5263L12.9581 14.8763C12.775 14.6932 12.4782 14.6932 12.2952 14.8763C12.1121 15.0594 12.1122 15.3562 12.2952 15.5392L12.9453 16.1892C11.7804 17.2131 10.2848 17.8692 8.64169 17.9741V17.0522C8.64169 16.7934 8.43183 16.5835 8.17294 16.5835C7.91405 16.5835 7.70419 16.7934 7.70419 17.0522V17.9741C6.06117 17.8692 4.56558 17.2131 3.40073 16.189L4.05066 15.5392C4.23375 15.3562 4.23375 15.0594 4.0507 14.8763C3.8677 14.6933 3.57084 14.6933 3.3878 14.8763L2.73783 15.5261C1.71441 14.3617 1.0583 12.8666 0.9525 11.2236H1.87453C2.13342 11.2236 2.34328 11.0137 2.34328 10.7549C2.34328 10.496 2.13342 10.2861 1.87453 10.2861H0.952453C1.05773 8.64339 1.71389 7.14807 2.73773 5.98347L3.38789 6.63353C3.47944 6.72503 3.59934 6.77078 3.7193 6.77078C3.8393 6.77078 3.95925 6.72498 4.0508 6.63343C4.23384 6.45039 4.2338 6.15357 4.05075 5.97048L3.40069 5.32056C4.56553 4.29667 6.06117 3.64061 7.70423 3.53565V4.45759C7.70423 4.71643 7.91409 4.92634 8.17298 4.92634C8.43187 4.92634 8.64173 4.71643 8.64173 4.45759V3.53565C10.2847 3.64061 11.7803 4.29667 12.9451 5.3207L12.2952 5.97048C12.1121 6.15353 12.1121 6.45034 12.2952 6.63343C12.3867 6.72498 12.5067 6.77078 12.6267 6.77078C12.7466 6.77078 12.8666 6.72498 12.9581 6.63353L13.608 5.9837C14.6315 7.14807 15.2876 8.64315 15.3934 10.2861H14.4715C14.2126 10.2861 14.0027 10.496 14.0027 10.7549C14.0027 11.0137 14.2126 11.2236 14.4715 11.2236H15.3936C15.2883 12.8664 14.6321 14.3617 13.6082 15.5263ZM8.17298 1.13111C11.5341 1.13111 14.3673 3.43436 15.1765 6.54512C13.7452 4.17292 11.1427 2.58334 8.17584 2.58334H8.17013C5.20303 2.58334 2.6003 4.1732 1.16906 6.54657C1.9778 3.43506 4.81134 1.13111 8.17298 1.13111ZM23.0625 17.9889H11.9734C13.5823 17.1407 14.8756 15.7709 15.627 14.1057H23.0625V17.9889Z" fill="#272727"/>
            </svg>
            <p class="value-box-p"><span id="value_length"></span> m</p>
        </div>
        <div class="value-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M20.3713 2.06003H7.61621C7.51675 2.06003 7.42137 2.09954 7.35105 2.16986C7.28072 2.24019 7.24121 2.33557 7.24121 2.43503C7.24121 2.53448 7.28072 2.62987 7.35105 2.70019C7.42137 2.77052 7.51675 2.81003 7.61621 2.81003H20.3713C20.7369 2.8104 21.0873 2.95576 21.3458 3.21421C21.6043 3.47267 21.7497 3.8231 21.7501 4.18863V16.9441C21.7501 17.0436 21.7896 17.139 21.86 17.2093C21.9303 17.2796 22.0257 17.3191 22.1251 17.3191C22.2246 17.3191 22.32 17.2796 22.3903 17.2093C22.4606 17.139 22.5001 17.0436 22.5001 16.9441V4.18863C22.4994 3.62427 22.2749 3.08322 21.8758 2.68417C21.4768 2.28512 20.9357 2.06066 20.3713 2.06003Z" fill="#272727"/>
                <path d="M20.6366 18.9127C20.6018 18.8779 20.5604 18.8503 20.5149 18.8314C20.4695 18.8126 20.4207 18.8029 20.3715 18.8029C20.3222 18.8029 20.2735 18.8126 20.228 18.8314C20.1825 18.8503 20.1411 18.8779 20.1063 18.9127C20.0715 18.9475 20.0439 18.9888 20.025 19.0343C20.0062 19.0798 19.9965 19.1286 19.9965 19.1778C19.9965 19.2271 20.0062 19.2758 20.025 19.3213C20.0439 19.3668 20.0715 19.4081 20.1063 19.443L21.2199 20.5564H5.38245C5.01697 20.556 4.6666 20.4106 4.40819 20.1521C4.14978 19.8937 4.00443 19.5433 4.00403 19.1778V3.34035L5.11731 4.45377C5.18763 4.52408 5.283 4.56359 5.38245 4.56359C5.48189 4.56359 5.57726 4.52408 5.64758 4.45377C5.7179 4.38345 5.7574 4.28807 5.75741 4.18863C5.75741 4.08918 5.7179 3.99381 5.64758 3.92349L3.89416 2.1699C3.85935 2.13507 3.81802 2.10744 3.77253 2.08859C3.72703 2.06974 3.67827 2.06004 3.62903 2.06004C3.57978 2.06004 3.53102 2.06974 3.48553 2.08859C3.44004 2.10744 3.3987 2.13507 3.36389 2.1699L1.61012 3.92349C1.54053 3.99396 1.50165 4.0891 1.50195 4.18813C1.50226 4.28717 1.54174 4.38206 1.61177 4.45209C1.6818 4.52212 1.77669 4.5616 1.87572 4.56192C1.97476 4.56223 2.0699 4.52335 2.14037 4.45377L3.25403 3.34026V19.1778C3.25463 19.7421 3.47906 20.2832 3.87808 20.6822C4.2771 21.0813 4.81812 21.3058 5.38245 21.3064H21.2199L20.1063 22.4199C20.0711 22.4546 20.0432 22.496 20.0241 22.5416C20.0049 22.5872 19.995 22.6361 19.9948 22.6855C19.9947 22.735 20.0043 22.7839 20.0232 22.8297C20.042 22.8754 20.0697 22.9169 20.1047 22.9518C20.1396 22.9868 20.1811 23.0145 20.2269 23.0333C20.2726 23.0522 20.3215 23.0618 20.371 23.0617C20.4204 23.0615 20.4693 23.0516 20.5149 23.0324C20.5605 23.0133 20.6019 22.9853 20.6366 22.9502L22.3904 21.1966C22.4252 21.1618 22.4528 21.1204 22.4717 21.0749C22.4905 21.0294 22.5002 20.9807 22.5002 20.9314C22.5002 20.8822 22.4905 20.8334 22.4717 20.7879C22.4528 20.7424 22.4252 20.7011 22.3904 20.6663L20.6366 18.9127Z" fill="#272727"/>
                <path d="M8.17334 8.15195C8.12409 8.15193 8.07532 8.16162 8.02982 8.18047C7.98431 8.19931 7.94297 8.22693 7.90815 8.26175C7.87332 8.29658 7.8457 8.33792 7.82686 8.38343C7.80802 8.42893 7.79833 8.4777 7.79834 8.52695V15.8079C7.79834 15.9074 7.83785 16.0028 7.90817 16.0731C7.9785 16.1434 8.07388 16.1829 8.17334 16.1829C8.2728 16.1829 8.36818 16.1434 8.4385 16.0731C8.50883 16.0028 8.54834 15.9074 8.54834 15.8079V10.3833C8.54891 10.0614 8.67715 9.75296 8.90493 9.52558C9.13271 9.2982 9.4414 9.1705 9.76324 9.1705C10.0851 9.1705 10.3938 9.2982 10.6216 9.52558C10.8493 9.75296 10.9776 10.0614 10.9781 10.3833V15.808C10.9781 15.9074 11.0177 16.0028 11.088 16.0731C11.1583 16.1434 11.2537 16.183 11.3531 16.183C11.4526 16.183 11.548 16.1434 11.6183 16.0731C11.6886 16.0028 11.7281 15.9074 11.7281 15.808V10.3833C11.7287 10.0614 11.857 9.75296 12.0847 9.52558C12.3125 9.2982 12.6212 9.1705 12.9431 9.1705C13.2649 9.1705 13.5736 9.2982 13.8014 9.52558C14.0291 9.75296 14.1574 10.0614 14.158 10.3833V15.808C14.158 15.9074 14.1975 16.0028 14.2678 16.0731C14.3381 16.1434 14.4335 16.183 14.533 16.183C14.6324 16.183 14.7278 16.1434 14.7981 16.0731C14.8684 16.0028 14.908 15.9074 14.908 15.808V10.3833C14.9089 9.96765 14.7778 9.56249 14.5334 9.22627C14.2891 8.89006 13.9443 8.6402 13.5487 8.51277C13.1531 8.38534 12.7272 8.38694 12.3326 8.51734C11.9379 8.64774 11.595 8.90018 11.3532 9.23822C11.2 9.02149 11.0039 8.83852 10.7771 8.70063C10.5503 8.56274 10.2976 8.47286 10.0347 8.43657C9.77176 8.40028 9.50418 8.41834 9.24852 8.48964C8.99285 8.56094 8.75454 8.68395 8.54834 8.85107V8.52695C8.54835 8.4777 8.53866 8.42893 8.51982 8.38343C8.50098 8.33792 8.47336 8.29658 8.43853 8.26175C8.40371 8.22693 8.36236 8.19931 8.31686 8.18047C8.27136 8.16163 8.22259 8.15193 8.17334 8.15195Z" fill="#272727"/>
                <path d="M18.853 8.32791C19.0172 8.08625 19.1051 7.80087 19.1054 7.5087C19.1057 7.31476 19.0677 7.12267 18.9937 6.94341C18.9197 6.76415 18.8111 6.60124 18.6741 6.464C18.5371 6.32675 18.3743 6.21787 18.1952 6.14359C18.016 6.0693 17.824 6.03106 17.6301 6.03106C17.4361 6.03106 17.2441 6.0693 17.065 6.14359C16.8858 6.21787 16.7231 6.32675 16.5861 6.464C16.449 6.60124 16.3404 6.76415 16.2664 6.94341C16.1924 7.12267 16.1545 7.31476 16.1548 7.5087C16.1548 7.60816 16.1943 7.70354 16.2646 7.77386C16.3349 7.84419 16.4303 7.8837 16.5298 7.8837C16.6292 7.8837 16.7246 7.84419 16.795 7.77386C16.8653 7.70354 16.9048 7.60816 16.9048 7.5087C16.9046 7.41332 16.9232 7.31882 16.9595 7.23064C16.9959 7.14245 17.0493 7.0623 17.1166 6.99478C17.184 6.92726 17.264 6.87368 17.3521 6.83713C17.4402 6.80058 17.5347 6.78177 17.6301 6.78177C17.7255 6.78177 17.8199 6.80058 17.908 6.83713C17.9961 6.87368 18.0761 6.92726 18.1435 6.99478C18.2109 7.0623 18.2643 7.14245 18.3006 7.23064C18.337 7.31882 18.3556 7.41332 18.3554 7.5087C18.3557 7.64585 18.3158 7.78009 18.2407 7.89487L16.4866 9.77774C16.4172 9.85186 16.3709 9.94464 16.3535 10.0447C16.3362 10.1447 16.3484 10.2477 16.3887 10.3409C16.4291 10.434 16.4958 10.5134 16.5806 10.5692C16.6655 10.625 16.7648 10.6547 16.8663 10.6548H18.6956C18.795 10.6548 18.8904 10.6153 18.9607 10.545C19.031 10.4747 19.0706 10.3793 19.0706 10.2798C19.0706 10.1804 19.031 10.085 18.9607 10.0146C18.8904 9.94432 18.795 9.90481 18.6956 9.90481H17.397L18.7406 8.47586C18.7505 8.46524 18.853 8.32791 18.853 8.32791Z" fill="#272727"/>
            </svg>
            <p class="value-box-p"><span  id="value_area"></span> m&#178</p>
        </div>
        <div class="value-box">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 6.06003C15 4.68679 13.8908 3.56003 12.5 3.56003C11.1092 3.56003 10 4.66918 10 6.06003C10 7.43327 11.1092 8.56003 12.5 8.56003C13.8732 8.56003 15 7.43327 15 6.06003ZM12.5 7.94383C11.4613 7.94383 10.6162 7.09876 10.6162 6.06003C10.6162 5.0213 11.4613 4.17623 12.5 4.17623C13.5387 4.17623 14.3838 5.0213 14.3838 6.06003C14.3838 7.09876 13.5387 7.94383 12.5 7.94383Z" fill="#272727"/>
                <path d="M21.9356 19.3077L20.1765 10.8216C19.919 9.57234 18.8249 8.66772 17.5377 8.66772H16.6367C17.0443 7.95695 17.2588 7.16003 17.2373 6.34157C17.2373 3.71387 15.1135 1.56003 12.4747 1.56003C9.83594 1.56003 7.71205 3.69234 7.71205 6.34157C7.71205 7.16003 7.92659 7.95695 8.31275 8.66772H7.4117C6.14596 8.66772 5.03038 9.57234 4.77294 10.8216L3.05667 19.3077C2.75632 20.7723 3.67882 22.1939 5.13765 22.4954C5.30927 22.5385 5.50235 22.56 5.69543 22.56H19.2969C20.7772 22.56 22 21.3539 22 19.8462C22 19.6739 21.9785 19.5016 21.9356 19.3077ZM20.7986 21.0954C20.4339 21.5477 19.8761 21.8062 19.2969 21.8062H5.69543C4.62277 21.8062 3.74318 20.9231 3.74318 19.8462C3.74318 19.717 3.76463 19.5877 3.78608 19.4585L5.54526 10.9939C5.73834 10.0893 6.53212 9.4431 7.45461 9.4431H9.06361C9.27815 9.4431 9.42832 9.2708 9.42832 9.05541C9.42832 8.96926 9.40687 8.88311 9.34251 8.81849C8.78472 8.10772 8.48437 7.24618 8.48437 6.34157C8.48437 4.12311 10.2865 2.31387 12.4962 2.31387C14.7059 2.31387 16.5079 4.12311 16.5079 6.34157C16.5079 7.24618 16.2076 8.10772 15.6498 8.81849C15.5211 8.9908 15.5425 9.22772 15.7142 9.35695C15.7785 9.40003 15.8643 9.4431 15.9501 9.4431H17.5592C18.4816 9.4431 19.2754 10.0893 19.4685 10.9939L21.2277 19.48C21.3349 20.04 21.1848 20.6431 20.7986 21.0954Z" fill="#272727"/>
                <path d="M11.7468 14.1987C11.8745 14.0497 11.8745 13.8155 11.7255 13.6665C11.5765 13.5175 11.3423 13.5387 11.1933 13.6878L9.61792 15.4547C9.55406 15.5399 9.44762 15.5824 9.34117 15.5824H8.76639V13.9432C8.76639 13.7303 8.59608 13.56 8.38319 13.56C8.17031 13.56 8 13.7303 8 13.9432V17.9667C8 18.1796 8.17031 18.3499 8.38319 18.3499C8.59608 18.3499 8.76639 18.1796 8.76639 17.9667V16.3275H9.34117C9.44762 16.3275 9.55406 16.3701 9.61792 16.4553L11.1933 18.2222C11.2571 18.3074 11.3636 18.3499 11.47 18.3499C11.5552 18.3499 11.6403 18.3286 11.7255 18.2648C11.8745 18.137 11.8958 17.8816 11.7468 17.7326L10.1714 15.9656L11.7468 14.1987Z" fill="#272727"/>
                <path d="M15.472 15.6037H14.7695C14.5566 15.6037 14.3863 15.774 14.3863 15.9869C14.3863 16.1998 14.5566 16.3701 14.7695 16.3701H15.472C15.6849 16.3701 15.8552 16.5404 15.8552 16.7533V17.2642C15.8552 17.4771 15.6849 17.6474 15.472 17.6474H13.8754C13.6625 17.6474 13.4922 17.4771 13.4922 17.2642V14.7096C13.4922 14.4967 13.6625 14.3264 13.8754 14.3264H16.2171C16.43 14.3264 16.6003 14.1561 16.6003 13.9432C16.6003 13.7303 16.43 13.56 16.2171 13.56H13.8754C13.258 13.56 12.7471 14.071 12.7471 14.6883V17.2216C12.7471 17.839 13.258 18.3499 13.8754 18.3499H15.472C16.0894 18.3499 16.6003 17.839 16.6003 17.2216V16.7107C16.6003 16.0934 16.0894 15.6037 15.472 15.6037Z" fill="#272727"/>
            </svg>
            <p class="value-box-p"><span  id="value_weight"></span> kg</p>
        </div>
    </div>
    <div class="calculator-form">
        <div class="form-box">
            <label class="calculator-input-name" for="inp_area">Required area</label>
            <div>
                <input class="calculator-input" type="number" name="area" value="10" id="inp_area" />
                <span class="value-box-p">m&#178</span>
            </div>

        </div>
        <div class="form-box">
            <label class="calculator-input-name" for="inp_boards">The number of boards</label>
            <input class="calculator-input" type="number" name="area" id="inp_boards" />
            <span class="value-box-p">pieces</span>
        </div>
    </div>
</div>
{% endif %}
<script>

    const itemsLength= {{product.metafields.custom.length_}};
    const itemsWidth= {{product.metafields.custom.width_mm }};
    const itemWeight= {{product.metafields.custom.weight_ }};
    let totalArea;
    let area = 10;
    let totalQuantity;
    let totalWeight;
    let totalLength;
    const meter = 1000;
    const elementWeight = document.getElementById('value_weight');
    const inputQuantityElement = document.getElementById('inp_boards');
    const inputAreaElement = document.getElementById('inp_area');
    const elementLength = document.getElementById('value_length');
    const elementArea = document.getElementById('value_area');


    inputAreaElement.addEventListener("input", function (e) {
        inputAreaValue = inputAreaElement.value;
        countQuantity (inputAreaValue)
    });
    inputQuantityElement.addEventListener("input", function (e) {
        totalQuantity =  inputQuantityElement.value;
        countWeight(totalQuantity)
        countLength(totalQuantity)
        countTotalArea(totalQuantity)
        countArea(totalQuantity)

    });

    function countQuantity (inputAreaValue){
        totalQuantity =Math.ceil( (inputAreaValue / (itemsWidth * itemsLength)) *meter *meter );
        inputQuantityElement.value =  totalQuantity ;
        countWeight(totalQuantity)
        countLength(totalQuantity)
        countTotalArea(totalQuantity)
    }
    countQuantity (10)
    function countArea(totalQuantity){
       let area = (totalQuantity * (itemsWidth * itemsLength))/meter/meter;
       let integerArea = Math.floor(area);
        inputAreaElement.value = integerArea;
    }
    function countWeight( totalQuantity){
        totalWeight = (totalQuantity * itemWeight)/meter;
        if (!Number.isInteger( totalWeight)) {
            totalWeight = parseFloat( totalWeight.toFixed(2));
        }
        elementWeight.innerHTML = totalWeight;
    }
    function countLength(totalQuantity){
        totalLength = (totalQuantity * itemsLength)/meter;
        if (!Number.isInteger(totalLength)) {
            totalLength = parseFloat(totalLength.toFixed(2));
        }
        elementLength.innerHTML = totalLength ;
    }
    function countTotalArea(totalQuantity){
        totalArea= (totalQuantity * (itemsWidth * itemsLength))/meter/meter;

        if (!Number.isInteger(totalArea)) {
            totalArea = parseFloat(totalArea.toFixed(2));
        }
        elementArea.innerHTML = totalArea ;

    }
</script>

